@font-face {
  font-family: 'Kabel';
  src: url('/fonts/KabelFont.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Inter", sans-serif;
}

:root {
  --body: #ffffff;

  --receiver-bg: #5ba048;
  --payer-bg: #d10909;
}

body {
  background-image: linear-gradient(50deg, #cc0c61 0%, #1a9dd5 110%);
}