.container {
  background-color: transparent;
  color: var(--body);
  height: 100%;
  border: 1px solid white;
  border-radius: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 150ms;

  &:active {
    scale: 0.95;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
}