.container {
  // background-color: var(--display-bg);
  color: var(--body);

  width: 90%;
  height: 9%;

  display: flex;
  justify-content: end;
  align-items: center;

  padding: .75rem;
  margin: .5rem;
  border-radius: .25rem;
  border: 1px solid white;

  h2 {
    font-size: 1.75rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: .25rem;
  }
}